
    
    .mobile_nav img{
        text-align: right;
    }
    .show{
        display: flex;
        width:180px
    }

    
    a{
        margin: 0;

    }
    
    .mobile_nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        background-color: white;
        padding: 20px;
        width:300px;
        height: 100vh;
        align-items: flex-end;
        // left: 0;
        right: 0;
        width: 45%;
        // text-align: right;
        // transform: translateX(100%);
    }
}