.nav-ul {
  margin: 0;
  display: flex;
  padding: 0;
  gap: 34px;
  align-items: center;
}

.overlay {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: auto;
  margin-top: 20px;
}

.ham {
  display: none;
}

.btn1 {
  border: none;
  background-color: transparent;
  outline: none;
}

.btn2 {
  outline: none;
  border: none;
  padding: 10px 25px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 10px;
}

.btn2:hover {
  background-color: black;
  border: 1px solid black;
  color: white;
  font-family: bold;
  transition: all 1s;
  cursor: pointer;
}

.btn1:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 1s;
  border: 2px solid rgb(255, 255, 255);
  padding: 15px 25px;
  border-radius: 10px;
  background-color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 10px;
  padding: 20px;
  display: none;
  position: absolute;
  background-color: #fff;
  width: 120px;
  z-index: 3;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  display: flex;
  align-items: center;
}

.drop-btn img:hover {
  transform: rotate(180deg);
}

.dropdown-content img {
  margin-right: 9.9px;
}

.dropdown-content a:hover {
  opacity: 0.7;
  background-color: #ddd;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 3s;
  -webkit-animation: ease-in 2s;
          animation: ease-in 2s;
}

h1 {
  font-size: 68px;
  width: 500px;
}

.span1 {
  display: inline-block;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  grid-gap: 80px;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
}

.img-container img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.logos {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-btn {
  margin-top: 40px;
  border: none;
  outline: none;
  background-color: black;
  padding: 15px 25px;
  border-radius: 12px;
  color: #fff;
  font-size: 15px;
  transition: all 3s;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: transparent;
  border: 1px solid black;
  color: grey;
  font-family: bold;
  transition: all 3s;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .hero {
    max-width: 960px;
    grid-template-columns: repeat(2, 400px);
  }
}
@media screen and (max-width: 1200px) {
  .nav-btn {
    display: none;
  }

  .nav-ul {
    display: none;
  }

  .ham {
    display: block;
  }

  .hero {
    margin: 50px;
    max-width: 960px;
    grid-template-columns: repeat(1, 350px);
  }

  .img-container {
    grid-row: 1;
  }

  .img-container img {
    content: url(images/image-hero-mobile.png);
  }

  .hero-text {
    text-align: center;
  }

  .hero-btn {
    margin: 0;
  }

  h1 {
    font-size: 30px;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  br {
    display: none;
  }

  .mobile_nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 34rem;
    height: 100%;
    z-index: 10;
    background-color: white;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.5, 0, 0, 0.75);
    display: grid;
    margin: auto auto;
  }

  .mobile_nav_cont {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 30px;
  }

  .blur_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
  }

  .blur_overlay.is--active {
    display: block;
    transition: transform 0.5s;
  }

  .mobile_nav.is--active {
    transform: translateX(0);
  }

  .overlay {
    display: block;
    width: 20%;
    margin-left: 5px;
  }

  .nav-btn1 {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 80%;
  }

  .closemenu {
    margin-left: 85%;
    margin-top: 10px;
  }

  .padding {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    justify-content: space-between;
    padding: 10px 10px;
  }

  .brand {
    margin-right: auto;
  }

  .ham img {
    position: relative;
    margin-left: 9rem;
  }
}
@media screen and (max-width: 300px) {
  .ppl {
    padding: 0vw 10vh;
  }

  .logos {
    display: grid;
    grid-template-columns: repeat(2, 200px);
  }
}
* {
  text-decoration: none;
  list-style-type: none;
  font-family: "Epilogue", sans-serif;
}

a {
  color: rgb(0, 0, 0);
  display: inline;
}/*# sourceMappingURL=style.css.map */