@media screen  and (max-width:1200px){
    .hero{
        max-width: 960px;
        grid-template-columns: repeat(2,400px);
    }
}
@media screen  and (max-width:1200px){
    .nav-btn{
        display: none;

    }
    .nav-ul{
        display: none;

    }
    .ham{
        display: block;
    }
    .hero{
        margin: 50px;
        max-width: 960px;
        grid-template-columns: repeat(1,max(200px, 350px));

    }
    .img-container{
        grid-row:1 ;
    }
    .img-container img{
        content: url(images/image-hero-mobile.png)
    }
    .hero-text{
        text-align: center;
    }
    .hero-btn{
        margin: 0;
    }
    h1{
        font-size: 30px;
        margin: 0;
        width:100%;
        text-align: center;
        
    }
    br {
        display: none;
    }
    .mobile_nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        background-color: white;
        padding: 20px;
        width:300px;
        height: 100vh;
        align-items: flex-end;
        // left: 0;
        right: 0;
        width: 45%;
        // text-align: right;
        // transform: translateX(100%);
    }
    .blur_overlay .is--active{
        display: block;
        transition: transform 0.5s;
       
    }
    .mobile_nav .is--active{
        transform: translateX(0);
    }
    .mobile_nav img{
        text-align: right;
    }
    .show{
        display: flex;
        width:180px
    }

    .overlay{
        display:inline-block;
        width: 100%;
        // height: 100vh;
        // background-color: transparent;
        z-index: 10;
        background-color: aliceblue;
        overflow-y: scroll;
        transform: translateX(100%);
        transition: transform 0.5s cubic-bezier(0.5, 0 , 0 , 0.75);
    }
    .mobile_nav_cont{
        flex-direction: column;
        width: 100%;
        justify-content: end;
        display: flex;

    }
    a{
        margin: 0;

    }
    .mobile_nav_cont > * {
        padding:20px ;
    }
}